<% if @servicos.empty? %>
  <div class="row mb-5">
    <tr>
      <td colspan="4">Nenhum serviço encontrado</td>
    </tr>
  </div>
<% else %>
  <% @servicos.each_with_index do |servico, i| %>
    <% if i % 4 == 0 %>
      <div class="row mb-5">
    <% end %>
    
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header bg-light text-secondary">
          <h5 class="card-title"><%= servico.titulo %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= servico.sub_titulo %></h6>
        </div>
        <div class="card-body">        
          <p class="card-text"><%= servico.descricao %></p>
          <a href="educacao.html" class="btn btn-primary">Solicitar</a>
        </div>
      </div>
    </div>

    <% if i % 4 == 3 || servico == @servicos.last %>
      </div>
    <% end %>    
  <% end %>
<% end %>